<!DOCTYPE html>
<html>
  <head>
    <title>Starbucks San Francisco</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/starbucks-style.css">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="/angularjs/sanfAngularJS.js"></script>
  </head>

  <body>
      <div ng-app="sanf" ng-controller="myCtrl">
          <div id="header">
              <p class = "title">Starbucks - San Francisco
              
              </p>
          </div>
          <div id="container">
              <nav role="navigation" aria-label="context">
                  <ul>
                      <li  ><a href="/San_Jose">San Jose</a></li>
                      <li style="color:white;font-size: 1.2em;font-weight: bold;"><a class="active" href="#" >San Francisco</a></li>
                  </ul>
              </nav>
              <div id = "right">
                  <table ng-repeat = "i in orders" style = "float: bottom; margin: 10px; width: 100%; border: 1px solid #696969;" ng-click="showOrder(i)">
                      <tr><th>{{i.price}}</th></tr> 
                  </table>
                  
              </div>
              <div id = "center">
                  <table ng-repeat = "i in drinks" style = "float: bottom; margin: 30px">
                      <tr><th>{{i.type}}</th></tr> 
                      <tr><td ng-repeat = "j in i.drinks" style = "float: left;  margin: 10px;">
                              <table>
                                  <tr><td><img src = {{j.url}} style = "width: 150px; height: 150px;" ng-click="showProduct(j.name)"/></td></tr>
                                  <tr><td><div style = "width: 150px; height: 40px;"><p ng-click="showProduct(j.name)">{{j.name}}</p></div></td></tr>
                              </table>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
          
          <div id = "inputForm" ng-show = "showEditOrder">
              
            <table width="100%" height="100%" >
                <tr>
                    <td align="left" valign="middle">
                        <div style = "margin-left:40%; margin-right:40%; background-color: #FFFFFF;">
                            <p>{{orderDetail.name}}</p> <p>Total Price: {{orderDetail.price}}</p>
                            <p>Ice: </p>
                            <select ng-model = "orderDetail.ice" ng-options = "option.value as option.name for option in iceChoice" ng-selected="orderDetail.ice">
                            </select>
                            <p>Size: </p>
                            <select ng-model = "orderDetail.size" 
                                    ng-options = "option.value as option.name for option in sizeChoice" 
                                    ng-selected="orderDetail.size" 
                                    ng-change = "change(orderDetail)">
                            </select>                            
                            <div>Number: </div> <input type = "number" ng-model = "orderDetail.number" ng-change = "change(orderDetail)" /> <br>
                            <p>Price: </p>
                            <p>{{orderDetail.price}}</p>
                            <a class="btn btn-success"  ng-click="updateOrder(orderDetail)">Update</a>
                            <a class="btn btn-success"  ng-click="deleteOrder(orderDetail)">Delete</a>
                            <a class="btn btn-success"  ng-click="hideOrder()">Cancel</a>  
                        </div>
                    </td>
                </tr>
                
            </table>
              
          </div>
          
          <div id = "inputForm" ng-show = "showCreateOrder">
              
            <table width="100%" height="100%" >
                <tr>
                    <td align="left" valign="middle">
                        <div style = "margin-left:40%; margin-right:40%; background-color: #FFFFFF;">
                            <p>{{newOrder.name}}</p> 
                            <p>Ice: </p>
                            <select ng-model = "newOrder.ice" ng-options = "option.value as option.name for option in iceChoice">
                            </select>
                            <p>Size: </p>
                            <select ng-model = "newOrder.size" 
                                    ng-options = "option.value as option.name for option in sizeChoice" 
                                    ng-change = "change(newOrder)">
                            </select>          
                            <div>Number: </div> <input type = "number" ng-model = "newOrder.number" ng-change = "change(newOrder)" /> <br>
                            <p>Price: </p>
                            <p>{{newOrder.price}}</p>
                            <a class="btn btn-success"  ng-click="createOrder(newOrder)">Create</a>
                            <a class="btn btn-success"  ng-click="hideOrder()">Cancel</a>  
                        </div>
                    </td>
                </tr>
                
            </table>
              
          </div>
      </div>
      
      
      


  </body>
</html>



