<html>
  <head>
    <title>signIn</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/angularjs/signInAngularJS.js"></script>
  </head>
    <style>
        
        #header {
	        margin: 0px auto;
	        padding: 0;
	        height: 15%;
	        width: 100%;
        }
        p > i:first-child {
            color: 	#000080;
            font-weight:bold;
        }
        #header .title {
            position: relative;
            text-align: center;
            color:	#696969;
            top: 45px;
            font-family:"Times New Roman", Times, serif;
            font-size:35px;
        }
        
        #signInCSS {
            margin: 0 auto;
	        padding: 0;
	        height: 85%;
	        width: 100%;
            background-color: 	#F5F5F5;
        }
        
        
        #signInCSS .signInForm {
            position:absolute;
            top: 30%;
            left: 38%;
            text-align: center;
	        padding: 0;
	        height: 45%;
	        width: 25%;
            background-color: 	#FFFFFF;
        }
        td  
        {  
            text-align:center; 
            height: 60px;
            color:	#696969;
            font-weight:bold;
        }  
        th
        {
            text-align:center; 
            color: 	#000080;
            height: 90px;
            font-family:"Times New Roman", Times, serif;
            font-size:30px;
            font-weight:bold;
            border-bottom:2px solid #F5F5F5;
        }
        
        


    </style>
  <body>
      
      <div id="header">
          <p class = "title">Connecting to <i>UML Parser</i> Project Submission</p>
	  </div>
      <div id="signInCSS" ng-app="signIn" ng-controller="myCtrl">  
          <div class="signInForm">
              <table width="100%">
                  <tr><th>SJSU</th></tr>
                  <table style="position: relative;left:5%;width:90%;">
                      <tr><td>Sign In</td></tr>
                      <tr><td style="font-weight:normal;"><input type = "text" ng-model = "name" placeholder="name"></td></tr>
                      <tr><td style="font-weight:normal;"><input type = "password" ng-model = "password" placeholder="password"></td></tr>
                      <tr>
                          <td>
                              <form>
                                  <input type="radio" ng-model = "role" value="student">Student&nbsp;&nbsp;
                                  <input type="radio" ng-model="role" value="teacher">Teacher
                              </form>
                          </td>
                      </tr>
                      <tr><td><a class="btn btn-primary btn-lg btn-block" ng-click="signInSubmit()">Sign In</a></td></tr>
                  </table>
              </table>
          </div>
      </div>
  </body>
</html>
